server {

     listen 80;
     server_name {{ domain_name }};

     root /var/www/{{ proj_name }};

     index index.html index.htm;

     location / {
         try_files $uri $uri/ /index.html;
     }
}
